.contacto {
    background-color: var(--bg-contacto);
    display: flex;
    height: 350px;
    justify-content: center;
    padding: 45px 9% 0;
    width: 80vw;
}

.referencia {
    display: flex;
    width: 30%;
    align-items: center;
    height: 50px;
    gap: 5px;
}

.referencia img {
    width: 42px;
    height: 31px;
}

.referencia img:last-child {
    height: 19px;
    width: 134px;
}

.links-utiles {
    display: flex;
    line-height: 40px;
    width: 30%;
    flex-direction: column;
}

.links-utiles a {
    color: black;
    font-weight: normal;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.form p {
    font-weight: bolder;
    margin: 10px 0;
}

.form input {
    width: 100%;
    height: 56px;
    border: transparent;
    margin-bottom: 20px;
    color: var(--azul-destaque);
    padding-left: 15px;
}

.label-nombre {
    width: 100%;
    position: absolute;
    color: var(--input-placeholder);
    top: 80px;
    left: 9px;
    transition: 0.5s;
}

.input-nombre:focus + .label-nombre {
    top: 64px;
    font-size: 14px;
    z-index: 2;
    transition: 0.2s;
    color: var(--azul-destaque);
}

.form textarea {
    width: 100%;
    font-family: "Relaway", sans-serif;
    border: transparent;
    color: var(--azul-destaque);
    margin-bottom: 20px;
    padding: 15px 1px 15px 15px;
    resize: none;
}

.form button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
}

@media (max-width: 769px) {
    .contacto {
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .referencia img {
        height: 25px;
        width: 34px;
    }

    .referencia img:last-child {
        height: 15px;
        width: 107px;
    }
}

@media (max-width: 426px) {
    .contacto {
        flex-wrap: nowrap;
        height: auto;
        width: 100vw;
        align-items: center;
    }

    .links-utiles {
        align-items: center;
        text-align: center;
    }

    .links-utiles a {
        width: 100vw;
    }

    .form {
        width: 80vw;
    }
}
