nav {
	justify-content: flex-start;
}

.busqueda {
	margin-left: -5rem;
	width: 40vw;
}

.login {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
}

.login h3 {
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.formLogin {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.formLogin input {
	height: 40px;
	border: transparent;
	margin-bottom: 20px;
	color: var(--azul-destaque);
}

.login a button {
	margin: 20px 0 40px;
	width: 40vw;
	height: 40px;
	background-color: var(--azul-destaque);
	border: none;
	color: var(--texto-destaque);
}

@media (max-width: 769px) {
	.busqueda {
		margin-left: -2rem;
	}
}

@media (max-width: 426px) {
	.login {
		width: 96%;
	}

	.formLogin input {
		height: 60px;
	}

	.login button {
		margin: 20px 0 20px;
		height: 60px;
	}
}
