nav {
    justify-content: flex-start;
}

.busqueda {
    margin-left: -5rem;
    width: 40vw;
}

.productos {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.prod-titulo {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
}

.prod-titulo .titulo {
    font-size: 32px;
    font-weight: bold;
}

.titulo p {
    margin: 10px 0;
}

.agregar {
    font-weight: bold;
    color: var(--azul-destaque);
}

.agregar button {
    margin-bottom: 10px;
    height: 40px;
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
}

.seccion-productos {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
}

.prod-muestra {
    flex-basis: 15%;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.producto img {
    width: 100%;
}

.producto img:nth-last-child(-n + 2) {
    width: 20px;
    position: absolute;
    right: 20%;
    top: 2%;
}

.producto img:last-child {
    position: absolute;
    right: 3%;
    top: 2%;
}

.producto p {
    margin: 4px 0;
    font-size: 0.9rem;
}

.producto p:nth-child(3) {
    font-weight: bold;
}

@media (max-width: 769px) {
    .busqueda {
        margin-left: -2rem;
    }

    .prod-titulo .titulo {
        font-size: 1.1rem;
    }

    .agregar {
        font-size: 0.9rem;
    }

    .agregar p {
        margin-bottom: 5px;
    }

    .prod-muestra {
        flex-basis: 22%;
    }
}

@media (max-width: 426px) {
    .prod-titulo .titulo {
        font-size: 1.4rem;
    }

    .seccion-productos {
        flex-wrap: wrap;
        height: auto;
    }

    .producto {
        height: auto;
    }

    .prod-muestra {
        flex-basis: 47%;
    }
}
